# =========================
# Terraform
# =========================
# Local directories
**/.terraform/*

# State files (Should be in GCS, but just in case)
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.log

# Variables files containing secrets/IDs
*.tfvars
*.tfvars.json

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore plan files
*.tfplan

# =========================
# Application (Node.js/React)
# =========================
node_modules/
npm-debug.log
yarn-error.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
dist/
build/